@charset "utf-8";
/* 가운데정렬 */
.nav-container{width: 1300px;height: inherit;margin: 0 auto;}
.container{width: 1300px;height: inherit;margin: 0 auto; position: relative; padding-top:100px}
/* 상단메뉴 */
.header{position: fixed; z-index: 999; width: 100%; background: rgba(255, 255, 255, .5); top:-105px; transition: all .3s; box-shadow: 0 0 5px 1px rgb(0,0,0,.5);}
#nav{display: flex; justify-content: space-between; align-items: center;}
.nav-icon{flex: 1 1 30%;}
.nav-icon img{width: 50%; cursor: pointer;}
.nav-list{flex: 1 1 70%;}
.nav-list ul{display: flex; justify-content: space-between; width: 100%;}
.nav-list ul li{width: 25%; text-align: center;}
.nav-list ul li a{text-transform: uppercase; color: #000; font-weight: bold; line-height: 80px; display: block; font-size: 20px;}
.nav-list ul li.on a{color:blue;}
.nav-list ul li:hover a{color:blue;}
/* 섹션 공통속성 */
.section{position: relative; width: 100%;height: 100vh;}
#contact{width: 100%;height: 90vh;}
footer{width: 100%;height: 10vh;background-color: red;}
/* 메인 */
#section1{text-align: center; font-weight: bold;background: #fff;}
.main-content{position: relative;z-index: 9; height: 100%;}
#section1 .name{font-size: 150px; padding-top:100px;}
#section1 .main-title{font-size: 90px;}
#section1 .main-info{font-size: 40px;}
#section1 .down{position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); font-size: 20px; cursor: pointer;}
/* 자기소개 */
#section2{background:#fff;}
.introduce{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase; margin-bottom: 20px;}
.about-me{display: flex; justify-content: space-between; align-items: center; padding-top: 100px;}
.my-info{width: 70%; display: flex;flex-wrap: wrap; align-content: space-around;}
.my-info>div{width: 50%;}
.my-info>div>h3{text-transform: uppercase; margin-bottom: 20px; font-size: 25px;}
.my-info>div>p{margin-bottom: 20px; font-size: 20px;}
.my-pic{width: 300px;height: 300px; background: url(../img/sky.jpg) no-repeat; border-radius: 50%; background-size: cover;}
.skill-img{display: flex;flex-wrap: wrap;}
.skill-img li{width: 25%;}
.skills{display: flex; flex-direction: column;}
/* 포-폴리오 */
#project{background:#fff;}
.pro-tit{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase;padding-bottom: 20px;}
.first-pro{display: flex; height: 100%; align-items: center; padding:0 50px;}
/* .pro-img{width: 50%;} */
.pro-info{width: 100%;height: 100%; padding-top: 100px;}
.pro-info p{border-top: 1px solid #ddd;border-bottom:1px solid #ddd; padding:20px 0;}
.pro-info span{width: 100px;height: 50px;display: block; border:1px solid #ddd;text-align: center; line-height: 50px;}
.fire span{background-color: #f2d300;}
.ranking span{background-color: #FF7E32;}
.pro-info a{display: block; width: 150px; border:1px solid #000; padding:15px; text-align: center; color:#000; transition: all .3s;}
.pro-info a:hover{background-color: #000; color: #fff;}
/* 연락처 */
#contact{background:#fff;}
.contact-tit{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase; margin-bottom: 20px;}
/* 푸터 */
footer{background-color: #e3ffe2c4;}
footer p{text-align: center;}
@media screen and (max-width:1320px) {
    .nav-container{width: 100%; padding:0 20px;}
    .container{width: 100%; padding:80px 20px 20px 20px;}
}   
@media screen and (max-width:1150px) {
    .my-info>div>h3{margin-bottom: 15px; font-size: 20px;}
    .my-info>div>p{margin-bottom: 15px; font-size: 15px;}
    .my-info{padding-left: 50px;}
    .my-pic{width: 250px;height: 250px;}
}   

@media screen and (max-width:768px) {
    #section1 .name{font-size: 100px; padding-top:100px;}
    .about-me{display: flex; flex-direction: column;padding-top: 0;}
    .my-info{width: 100%; display: flex;padding:0; text-align: center; padding-top: 10px;}
    .first-pro{flex-direction: column;}
    .pro-img{width: 80%;}
    .nav-list ul li a{font-size: 15px;}
}   
@media screen and (max-width:520px) {
    #section1 .name{font-size: 80px; padding-top:100px;}
    #section1 .main-title{font-size: 30px;}
    #section1 .main-info{font-size: 10px;}
    .introduce{font-size: 20px;}
    .my-info{align-content: space-around;}
    .my-info>div>h3{margin-bottom: 5px; font-size: 15px;}
    .my-info>div>p{margin-bottom: 5px; font-size: 13px;}
    .skill-img{flex-wrap: nowrap;}
    .education{width: 100% !important; padding-top:10px;}
    .skills{width: 100% !important;}
    .my-pic{width: 200px;height: 200px;}
    .pro-img{width: 100%;}
    .nav-list ul li a{font-size: 11px; line-height: 50px;}
    .container{padding-top:50px;}
}

/* 메인화면 움직이는 공 */
.top_circles .circles {position:absolute; width:200px; height:200px; border-radius:50%}
.top_circles .circle1 {top:15%; left:-20%; background:-webkit-linear-gradient(0deg, rgb(86 255 0) 0%, rgb(235 255 0) 100%); background:-moz-linear-gradient(0deg, rgb(86 255 0) 0%, rgb(235 255 0) 100%); background:-o-linear-gradient(0deg, rgb(86 255 0) 0%, rgb(235 255 0) 100%); background:linear-gradient(0deg, rgb(86 255 0) 0%, rgb(235 255 0) 100%); -webkit-animation:moving1 10s none infinite alternate; -moz-animation:moving1 10s none infinite alternate; -o-animation:moving1 10s none infinite alternate; -ms-animation:moving1 10s none infinite alternate; animation:moving1 10s none infinite alternate}
.top_circles .circle2 {top:40%; right:40%; background:-webkit-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:-moz-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:-o-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); -webkit-animation:moving2 20s none infinite alternate; -moz-animation:moving2 20s none infinite alternate; -o-animation:moving2 20s none infinite alternate; -ms-animation:moving2 20s none infinite alternate; animation:moving2 20s none infinite alternate}
.top_circles .circle3 {bottom:-10px; right:0; background:-webkit-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:-moz-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:-o-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); -webkit-animation:moving3 5s none infinite alternate; -moz-animation:moving3 5s none infinite alternate; -o-animation:moving3 5s none infinite alternate; -ms-animation:moving3 5s none infinite alternate; animation:moving3 5s none infinite alternate}
@-webkit-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-moz-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-o-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-ms-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}

@-webkit-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-moz-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-o-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-ms-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}

@-webkit-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-moz-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-o-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-ms-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
.swiper {width: 100%; height: 80%;}
.swiper-slide {display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.fa-arrow-circle-right,.fa-arrow-circle-left{position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center; color: #f2d300;}
.fa-arrow-circle-right{right: 0;}
.ranking .fa-arrow-circle-right,.ranking .fa-arrow-circle-left{color: #FF7E32;}