@charset "utf-8";
.scroll{overflow: hidden; height: 100%;}
/* 가운데정렬 */
.nav-container{width: 1300px;height: inherit;margin: 0 auto;}
.container{width: 1300px;height: inherit;margin: 0 auto; position: relative; padding-top:100px}
/* 상단메뉴 */
.header{position: fixed; z-index: 999; width: 100%; background: rgba(255, 255, 255, .5); top:-105px; transition: all .3s; box-shadow: 0 0 5px 1px rgb(0,0,0,.5);}
#nav{display: flex; justify-content: space-between; align-items: center;}
.nav-icon{flex: 1 1 30%;}
.nav-icon img{width: 50%; cursor: pointer;}
.nav-list{flex: 1 1 70%;}
.nav-list ul{display: flex; justify-content: space-between; width: 100%;}
.nav-list ul li{width: 25%; text-align: center;}
.nav-list ul li a{text-transform: uppercase; color: #000; font-weight: bold; line-height: 80px; display: block; font-size: 20px;}
.nav-list ul li.on a{color: #3e93f5;}
.nav-list ul li:hover a{color:#3e93f5;}
/* 섹션 공통속성 */
.section{position: relative; width: 100%;height: 100vh;}
#contact{width: 100%;height: 90vh;}
/* 메인 */
.main-content{position: relative;z-index: 9; height: 100%;text-align: center; font-weight: bold;}
#section1 .name{font-size: 150px; padding-top:100px;}
#section1 .main-title{font-size: 90px;}
#section1 .main-info{font-size: 40px;}
#section1 .down{position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); font-size: 20px; cursor: pointer;}
/* 자기소개 */
.introduce{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase; margin-bottom: 20px;}
.about-me{display: flex; justify-content: space-between; align-items: center; margin-top: 100px;}
.my-info{width: 70%; display: flex;flex-wrap: wrap; align-content: space-around;}
.my-info>div{width: 50%;}
.my-info>div:nth-child(3),.my-info>div:nth-child(4){padding-top: 20px;}
.my-info>div>h3{text-transform: uppercase; margin-bottom: 20px; font-size: 25px;}
.my-info>div>p{margin-bottom: 20px; font-size: 20px;}
.my-pic{width: 300px;height: 300px; background: url(../img/sky.jpg) no-repeat; border-radius: 50%; background-size: cover;}
.skill-img{display: flex;flex-wrap: wrap;}
.skill-img li{width: 25%;}
.skill-img li img{width: 70%;}
.skills{display: flex; flex-direction: column;}
/* 포-폴리오 */
.pro-tit{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase;padding-bottom: 20px;}
.first-pro{display: flex; height: 100%; align-items: center; padding:0 50px;}
.pro-info{width: 100%;height: 100%; padding-top: 100px;}
.pro-info h2{padding-bottom: 10px;}
.pro-info h3{padding: 10px 0;}
.pro-info p{padding:20px 0;}
.fire .pro-info p{border-top: 2px solid #f2d300;border-bottom:2px solid #f2d300;}
.ranking .pro-info p{border-top: 2px solid #FF7E32;border-bottom:2px solid #FF7E32;}
.portfolio .pro-info p{border-top: 2px solid #3e93f5;border-bottom:2px solid #3e93f5;}
.pro-info span{width: 100%;height: 50px;display: block; border:1px solid #ddd;text-align: center; line-height: 50px;}
.fire span{background-color: #f2d300;}
.ranking span{background-color: #FF7E32;}
.portfolio .pro-info span{background-color: #3e93f5;}
.pro-info a{display: block; width: 100%; border:1px solid #000; padding:15px; text-align: center; color:#000; transition: all .3s;}
.pro-info a:hover{background-color: #000; color: #fff;}
/* 연락처 */
.contact-tit{text-align: center;font-size: 40px; font-weight: bold; text-transform: uppercase; margin-bottom: 20px;}
.contact-box{padding:30px; height: 85%;}
.contact-box>p{text-align: center; font-size: 20px;}
.contact-box ul{display: flex; justify-content: space-evenly; height: 70%; align-items: center;}
.contact-box ul li{width: 25%; text-align: center;}
.contact-box ul li img{width: 30%; text-align: center; cursor: pointer;}
.contact-box ul li span{ padding-top: 20px;display: block;}
.contact-box ul li a{color:#000;padding-top: 20px; display: block; text-decoration: underline;}
.contact-box ul li a:visited{color:#000}
.thankyou{text-align: center; font-size: 50px; margin-top: 50px;}
/* 푸터 */
footer{width: 100%;height: 10vh;}
footer p{text-align: center;}
@media screen and (max-width:1320px) {
    .nav-container{width: 100%; padding:0 20px;}
    .container{width: 100%; padding:80px 20px 20px 20px;}
}   
@media screen and (max-width:1150px) {
    .my-info>div>h3{margin-bottom: 15px; font-size: 20px;}
    .my-info>div>p{margin-bottom: 15px; font-size: 15px;}
    .my-info{padding-left: 50px;}
    .my-pic{width: 250px;height: 250px;}
    .contact-box ul{flex-wrap: wrap}
    .contact-box ul li{width: 50%; height: 50%;padding-top: 40px;}
    .contact-box ul li img{width: 25%;}
}   
@media screen and (max-width:768px) {
    #section1 .name{font-size: 100px; padding-top:100px;}
    .about-me{display: flex; flex-direction: column;margin-top: 0;}
    .my-info{width: 100%; display: flex;padding:0; text-align: center; padding-top: 10px;}
    .first-pro{flex-direction: column;}
    .pro-info{padding-top:10px;}
    .pro-img{width: 80%;}
    .nav-list ul li a{font-size: 15px;}
}   
@media screen and (max-width:520px) {
    #section1 .name{font-size: 80px; padding-top:100px;}
    #section1 .main-title{font-size: 30px;}
    #section1 .main-info{font-size: 10px;}
    .introduce,.pro-tit,.contact-tit{font-size: 20px;}
    .my-info{align-content: space-around;}
    .my-info>div>h3{margin-bottom: 5px; font-size: 15px;}
    .my-info>div>p{margin-bottom: 5px; font-size: 13px;}
    .skill-img{flex-wrap: nowrap;}
    .education{width: 100% !important; padding-top:10px;}
    .skills{width: 100% !important;}
    .my-pic{width: 200px;height: 200px;}
    .pro-img{width: 100%;}
    .nav-list ul li a{font-size: 11px; line-height: 50px;}
    .container{padding-top:50px;}
    .thankyou{font-size: 25px;}
    .pro-info h2,h3{font-size: 18px;}
}
@media screen and (max-width:400px) {
    .contact-box ul{height: 90%;}
    .contact-box ul li{width: 100%; height: auto; padding-top: 0;}
    .contact-box ul li span{padding-top:5px;}
    .contact-box>p{font-size: 13px;}
    .contact-box{padding: 0;}
    footer p{font-size: 14px;}
}
/* 메인화면 움직이는 공 */
.top_circles .circles {position:absolute; width:200px; height:200px; border-radius:50%}
.top_circles .circle1 {top:15%; left:-20%; background:-webkit-linear-gradient(0deg, rgb(197 158 255) 0%, rgb(102 255 203) 100%); background:-moz-linear-gradient(0deg, rgb(197 158 255) 0%, rgb(102 255 203) 100%); background:-o-linear-gradient(0deg, rgb(197 158 255) 0%, rgb(102 255 203) 100%); background:linear-gradient(0deg, rgb(197 158 255) 0%, rgb(102 255 203) 100%); -webkit-animation:moving1 10s none infinite alternate; -moz-animation:moving1 10s none infinite alternate; -o-animation:moving1 10s none infinite alternate; -ms-animation:moving1 10s none infinite alternate; animation:moving1 10s none infinite alternate}
.top_circles .circle2 {top:40%; right:40%; background:-webkit-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:-moz-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:-o-linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); background:linear-gradient(0deg, rgb(63 68 247) 0%, rgb(107 255 201) 100%); -webkit-animation:moving2 20s none infinite alternate; -moz-animation:moving2 20s none infinite alternate; -o-animation:moving2 20s none infinite alternate; -ms-animation:moving2 20s none infinite alternate; animation:moving2 20s none infinite alternate}
.top_circles .circle3 {bottom:-10px; right:0; background:-webkit-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:-moz-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:-o-linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); background:linear-gradient(0deg, rgba(68,25,224,1) 0%, rgba(25,142,224,1) 100%); -webkit-animation:moving3 5s none infinite alternate; -moz-animation:moving3 5s none infinite alternate; -o-animation:moving3 5s none infinite alternate; -ms-animation:moving3 5s none infinite alternate; animation:moving3 5s none infinite alternate}
@-webkit-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-moz-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-o-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@-ms-keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}
@keyframes moving1 {
    0%{transform:translate(0px, 50px)}
    30%{transform:translate(30px, 90px)}
    70%{transform:translate(60px, 204px)}
    100%{transform:translate(120px, 80px)}
}

@-webkit-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-moz-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-o-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@-ms-keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}
@keyframes moving2 {
    0%{transform:translate(80px, 80px)}
    50%{transform:translate(20px, -200px)}
    70%{transform:translate(100px, -100px)}
    100%{transform:translate(-50px, 100px)}
}

@-webkit-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-moz-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-o-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@-ms-keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
@keyframes moving3 {
    0%{transform:translate(0, -10px)}
    50%{transform:translate(-40px, -90px)}
    100%{transform:translate(-70px, -240px)}
}
.swiper {width: 100%; height: 80%;}
.swiper-slide {display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.fa-arrow-circle-right,.fa-arrow-circle-left{position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center; color: #f2d300;}
.fa-arrow-circle-right{right: 0;}
.ranking .fa-arrow-circle-right,.ranking .fa-arrow-circle-left{color: #FF7E32;}
.portfolio .fa-arrow-circle-right,.portfolio .fa-arrow-circle-left{color: #3e93f5;}

/* 팝업창 */
.modal{position: fixed;top: 0;left: 0;width: 100%;height:100%;;display: none;background-color: rgba(0,0,0,.1);z-index: 999999999;}
.modal_content{position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%);}
.modal_content img{width: 100%; border-radius: 30px;}
.modal_close_btn{position: absolute; right: -50px; top: 0px; cursor: pointer; color:#3e93f5;}
.modal-pop{border: 1px solid skyblue; background-color:#fff; color: skyblue; padding: 5px; cursor: pointer;}